@charset "utf-8";
.principal {width: 100%; padding: 15px; float: left;}

.principal img {
    width:300px; 
    float: left;
    border-radius: 120px;
}

.principal p {text-align: justify; font-size: 1.1em; margin-top: 10px; padding: 5px; line-height: 30px;}

.principal figcaption{position: absolute; margin-top: 290px; margin-left: 50px; font-weight: bolder;}

.principal strong {color: #96C1D5;}

.apresentation strong:hover{color: rgb(97, 97, 97);}

.img-r img {float: right; width: 280px; padding: 10px;}
